@import "tailwindcss";

@theme {
  --color-bg-base: oklch(0.15 0.01 250);
  --color-bg-panel: oklch(0.18 0.01 250);
  --color-bg-elevated: oklch(0.22 0.01 250);

  --color-border-subtle: oklch(0.28 0.01 250);
  --color-border-strong: oklch(0.35 0.01 250);

  --color-text-dim: oklch(0.65 0.02 250);
  --color-text-normal: oklch(0.85 0.02 250);
  --color-text-bright: oklch(0.95 0.02 250);

  --color-accent-primary: oklch(0.7 0.1 250);
  --color-accent-success: oklch(0.7 0.1 150);
  --color-accent-warning: oklch(0.7 0.1 80);
  --color-accent-danger: oklch(0.6 0.15 20);

  --font-sans: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
  tbody tr:first-child [data-handler="move-up"] {
    display: none;
  }

  tbody tr:last-child [data-handler="move-down"] {
    display: none;
  }
}



@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
